# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.pypirc
__pycache__
*.pyc
data
seed_images
temp
venv36
build
.ipynb_checkpoints
